<nav class="navbar is-fixed-top has-background-white" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <b>AdminPanel</b>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu navbar-end">

            <a class="navbar-item" href="/admin">
                Home
            </a>

            <a class="navbar-item" href="/admin/pages/list">
                Pages
            </a>

            <a class="navbar-item" href="/admin">
                Posts
            </a>

            <a class="navbar-item">
                Themes
            </a>

            <!-- Adminitstaration Menu -->
            <div class="navbar-item has-dropdown ">

                <a class="navbar-link">
                    <div class="image is-32X32">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                    </div>
                </a>

                <div class="navbar-dropdown">
                    <!-- User & Settings  -->
                    <a class="navbar-item">
                        Author Profile
                    </a>
                    <a class="navbar-item">
                        Acess Settings
                    </a>
                    <a class="navbar-item">
                        Site Settings
                    </a>
                    <a class="navbar-item">
                        SignOut
                    </a>
                </div>
            </div>

        </div>
    </div>
</nav>

