{{extends "./layouts/main.html"}}

{{ block pageTitle() }}
{{ SiteTitle() }}| Assets
{{ end }}

{{ block pagePreLoad() }}
{{ end }}

{{ block body() }}
<div class="section container">
    <div>
        <assets-editor></assets-editor>
    </div>
    <br>
    <br>
    <div style="clear:both"></div>
    <div class="container box">
        <div class="tabs">
            <ul>
                <li {{if hasSuffix(.requestURL, "images") }} class="is-active" {{ end }}><a
                        href="/admin/assets/images">Images</a></li>
                <li {{if hasSuffix(.requestURL, "documents") }} class="is-active" {{ end }}><a
                        href="/admin/assets/documents">Documents</a></li>
            </ul>
        </div>

        {{if hasSuffix(.requestURL, "images") }}
        <div class="columns is-multiline">
            {{ range key, img := .imgs}}
            <assets-image delete-url="http://{{SiteAddress()}}/delete{{img.url}}"
                view-url="http://{{SiteAddress()}}{{img.url}}" name="{{key}}">
            </assets-image>
            {{ end}}
        </div>
        {{ else if  hasSuffix(.requestURL, "documents")}}
        <div class="columns is-multiline">
            {{ range  key, value := .docs }}
            <assets-document delete-url="http://{{SiteAddress()}}/delete{{value.url}}"
                view-url="http://{{SiteAddress()}}{{value.url}}" name="{{key}}">
            </assets-document>
            {{ end  }}
        </div>
        {{ end}}
    </div>



</div>

{{ end }}

{{ block pagePostLoad() }}
{{ end }}