{{extends "./layouts/main.html "}}

{{ block pageTitle() }}
{{ SiteTitle() }}| Settings
{{ end }}

{{ block pagePreLoad() }}
{{ end }}

{{ block body() }}
<div class="section">
    <div class="container">
        <h4 class="title">Themes </h4>
        <div class="columns">
            {{ range InstalledThemes() }}
            <div class="column">
                <div class="box">
                   <img src="{{.Thumb}}" alt="" class="image">
                   <h5 class="title is-5">{{.Name}}</h5>
                   <a href="/admin/set-theme/{{.Name}}"
                    class="button is-primary  {{ if . == ActiveTheme() }}is-inverted {{ end }}"

               > Apply </a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>


{{ end }}

{{ block pagePostLoad() }}
{{ end }}
