<div style="position: fixed; width:100%; top:0; left:0;; z-index:4; background: #333;">
    <div class="container grid-lg ">
       <div class="columns">
           
                <section class="col-3 col-md-12 "">
                       <a href="/"> <h4 class="text-light text-center hide-md" 
                        style="margin:1.2rem"
                        >{{ SiteTitle() }}</h4> </a>
                    </section>
                <section class="col-9 col-md-12">
                    <ul style="list-style: none;">
                        <!-- <h4 style=" background: #ccc; padding: 5px ;;">{{ SiteTitle() }}</h4> -->
                        {{ if Menu("header") != "-"  }}
                            {{ range Menu("header").Items}}
                            <li style="display: inline-block">
                                <a class="btn text-light btn-link" href="{{.Item.URL}}">
                                    {{.Item.Title}}
                                </a>
                            </li>
                            {{ end }}
                        {{ end }}
                        </section>
                    </ul>
           
   
        </div>
    </div>
</div>
<div style="padding: 60px; content:' ';"></div>