
<div class="card"
     style="padding: 0.3rem;
    box-shadow: 2px 2px 5px rgba(50, 50, 50,0.2);

     background : none;
    /* background-image: url('http://127.0.0.1:20196/asset/uploaded/images/social.png'); */
    /* background-size: 300px 150px; */
    /* background-position: 95% 42%; */
    /* backdrop-filter: alpha(opacity=50); */
    /* background-repeat: no-repeat; */
    /* background-color: #f7f8f9; */
    max-height: 400px;
    min-height: 250px;
    "
>
<!--
 -->


    <div class="card-header"  >



      <div class="card-title h4 " style="margin-bottom:1rem ;position: relative;">
        <a href="{{.PageURL}}" class="text-dark">{{ .PageTitle}} </a>
        <img src="{{ .PageThumb}}" alt=""
        style="position: absolute;
        z-index: -1;
        right: 0;
        top: 100%;
        opacity: 0.1;
        transform: rotate3d(1, 6, 3, -20deg);
        box-shadow: 8px 10px 20px rgb(50, 50, 50)
        "
        height="150" width="300"
    >
    </div>
      <div class="card-subtitle text-dark" style="margin-bottom: 0.2rem">

        <div class="d-inline-block">

          <figure class="avatar avatar-md">
            <img src="{{ .MarchUserObj.Picture }}" alt="...">
          </figure>
          <span>
              <b>{{ .MarchUserObj.Name }}</b>
          </span>

        </div>
        <span class="float-right">
          {{ .CoStr }}
        </span>
      </div>

    </div>
    <div class="card-body text-justify" style="margin-bottom: 0.2rem ">
        {{ .Content.Desc }}

        <div style="margin-top:1rem; margin-bottom: 1rem;">
                <a href="{{.PageURL}}"> Read more <i class="fa fa-chevron-right" style="font-size:12px;"></i></a>
        </div>

        <div>
          {{if .Tag1}}
          <span class="chip">
              {{.Tag1}}
          </span>
          {{ end }}
          {{if .Tag2}}
          <span class="chip">
              {{.Tag2}}
          </span>
          {{ end }}
          {{if .Tag3}}
          <span class="chip">
              {{.Tag3}}
          </span>
          {{ end }}
          </div>
    </div>
  </div>